body{
    background-color: aqua;
}

form{
    margin: 1px;
    padding: 10px;
}

h1{
    background-color: blanchedalmond;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    

}

.form-select{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}


.botaoconfirmar{
    width: 21%;
    margin-left: auto;
    margin-right: auto;
    margin: center;
}

