form{
    margin: 1px;
    padding: 10px;
}


h1{
    width: 50%;
    margin: auto;
    padding-top: 20px;

}

.form-select{
    width: auto;
    margin-left: 5%;
}


.botaoconfirmar{
    width: auto;
    margin-left: 4%;
}

